<!DOCTYPE html>
<html>
<body style="text-align:center; margin-top:50px"></body>   
<body>
    <h1>Sistema: Ingreso de Peso</h1>

    <form method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" required>
        <br><br>
        <label>Peso (kg):</label>
        <input type="number" name="peso" step="0.1" required>
        <br><br>
        <button type="submit">Enviar</button>
    </form>
    
    {% if usuarios %}
    <h2>Usuarios actualizados en el sistema:</h2>
    {% for usuario in usuarios %}
        <p>{{ usuario.nombre }}: {{ usuario.peso }} kg</p>
    {% endfor %}
    {% endif %}
</body>
</html>